conten*/
video_test_x/
model_yolo/
data/
boxmot/.vscode/
boxmot/.venv/
boxmot/.eggs/
boxmot/env/
boxmot/*.DS_Store
boxmot/.coverage
boxmot/htmlcov/
# interpreter bytecode
boxmot/__pycache__/
boxmot/__MACOSX/

# experiment results
boxmot/runs/
boxmot/videos/

# experiment files
boxmot/*.pkl

# partial downlaods
boxmot/*.part

# Downloaded weights
boxmot/weights/*.pt
boxmot/weights/*.torchscript
boxmot/weights/*.onnx
boxmot/weights/*_openvino_model
boxmot/weights/*.engine
boxmot/weights/*.tflite

# evaluation tools folder
boxmot/val_utils/
_MConverter.eu_Phân tích chi tiết phương pháp TL-UKF.md
# zip files
*.zip
*.mp4
# exports
boxmot/*_openvino_model
boxmot/*.torchscript
*.pt
*.pth
*.onnx
*.engine

# interactive plots
*.html
*.ipynb
# tf models
*saved_model/
tf_models/

# distribution / packaging
build/
dist/
*.egg-info/

# cmc debug images
boxmot/boxmot/motion/cmc/*.jpg
boxmot/.git
boxmot/.github


# json outputs
*_output.json
